@font-face {
    font-family: 'Microsoft PhagsPa';
    src: url('MicrosoftPhagsPa.eot');
    src: url('MicrosoftPhagsPa.eot?#iefix') format('embedded-opentype'),
        url('MicrosoftPhagsPa.woff2') format('woff2'),
        url('MicrosoftPhagsPa.woff') format('woff'),
        url('MicrosoftPhagsPa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Microsoft PhagsPa';
    src: url('MicrosoftPhagsPa.eot');
    src: url('MicrosoftPhagsPa.eot?#iefix') format('embedded-opentype'),
    url('MicrosoftPhagsPa.woff2') format('woff2'),
    url('MicrosoftPhagsPa.woff') format('woff'),
    url('MicrosoftPhagsPa.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
